.fruitcounter {
  display: flex;
  width: 400px;
  justify-content: space-around;
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.fruitcounter button {
  height: 20px;
  width: 30px;
  align-self: center;
}

.fruitcounter p {
  align-self: center;
}

.button-outline {
  border: 1px solid rgb(0, 255, 13);
}
